@model IEnumerable<WEB_SITE.Models.Rols>

@{
    ViewData["Title"] = "Listado de Roles";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-action="Create" asp-controller="Roles">Crear Role</a>
</p>
<table class="table">
    <thead  class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null){
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                        <a href="@Url.Action("Modify","Roles")" class="btn btn-primary">
                            <i class="fas fa-edit" aria-hidden="true"></i> Edit
                        </a> |
                        <a onclick="EliminarRoles();" class="btn btn-danger">
                            <i class="fas fa-trash" aria-hidden="true"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
             <th scope="row">No Hay Data</th>
            </tr>
        }
            </tbody>
</table>