################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/API/.vs/API/FileContentIndex/50e81058-c954-45ec-ab60-c83b5d43a0ce.vsidx
/API/.vs/API/FileContentIndex/1fb5b902-437d-411d-951b-5542926be503.vsidx
