################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/API/.vs/API/FileContentIndex/50e81058-c954-45ec-ab60-c83b5d43a0ce.vsidx
/API/.vs/API/FileContentIndex/1fb5b902-437d-411d-951b-5542926be503.vsidx
/API/.vs/API/v17/.suo
/API/API.csproj
/API/obj
/.vs
/API/bin
/API/.vs
/API/bin/Debug/net6.0/
/API/.vs/API/DesignTimeBuild/.dtbcache.v2
*.v2
*.lock
/WEB_SITE/obj/Debug/net6.0/
/WEB_SITE/bin/Debug/net6.0/
/WEB_SITE/.vs/WEB_SITE/DesignTimeBuild/.dtbcache.v2
/WEB_SITE/.vs/WEB_SITE/v17/.suo
/WEB_SITE/obj
/WEB_SITE/bin
/WEB_SITE/.vs
/WEB_SITE/bin/Debug/net6.0/
/WEB_SITE/.vs/WEB_SITE/v17/.suo
/API/.vs/ProjectEvaluation/api.projects.v6.1
/API/.vs/ProjectEvaluation/api.metadata.v6.1
