@model WEB_SITE.Models.Access

@{
    ViewData["Title"] = "Crear Acceso";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        @if (TempData["ErrorCreateAccess"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> @TempData["ErrorCreateAccess"].ToString()
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <form asp-action="Create" asp-controller="Access" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idCategoriesMenu" class="control-label"></label>
                <input asp-for="idCategoriesMenu" class="form-control" />
                <span asp-validation-for="idCategoriesMenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Icon" class="control-label"></label>&nbsp;&nbsp;<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Solo se aceptan de FontAwesome"></i>
                <input asp-for="Icon" class="form-control" />
                <span asp-validation-for="Icon" class="text-danger"></span>
                <br/>
                <label style="font-size:18px;">Preview:  <i style ="font-size:30px;" id="previewIcon"></i></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        document.getElementById('Icon').addEventListener('input', function (e) {
            const previewIconElement = document.getElementById('previewIcon');
            previewIconElement.className = ''; // Limpiar las clases anteriores
            const inputText = e.target.value; // Obtener el texto ingresado
            const classes = inputText.split(' '); // Dividir el texto ingresado en varias clases
            classes.forEach((className) => {
                if (className) {
                    previewIconElement.classList.add(className); // Agregar cada clase al elemento <i>
                }
            });
        });
    </script>

}