@model WEB_SITE.Models.AccessRoles

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Acces Roles</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" asp-controller="AccessRoles" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idRol" class="control-label"></label>
                <input asp-for="idRol" class="form-control" />
                <span asp-validation-for="idRol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idAccess" class="control-label"></label>
                <input asp-for="idAccess" class="form-control" />
                <span asp-validation-for="idAccess" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

