<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6cbd317d-061f-47dd-8e98-8a08ceb2a71c/resourceGroups/Aerolinea/providers/Microsoft.ContainerRegistry/registries/AuroraApi</ResourceId>
    <ResourceName>AuroraApi</ResourceName>
    <ResourceGroup>Aerolinea</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://auroraapi.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>64b88852-4ddf-423a-858f-0d920f22e46a</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>